$background-primary: #333;
$background-secondary: #444;
$background-tertiary: #666;

$background-primary-light: #f3f3f3;
$background-secondary-light: #e6e6e6;
$background-tertiary-light: #fff;

$text-primary: #f3f3f3;
$text-secondary: #fff;

$text-primary-light: #333;
$text-secondary-light: #666;